<footer class="flex flex-col justify-center">

    <section class="flex flex-col self-center max-w-full text-2xl font-semibold whitespace-nowrap text-violet-950">
        <h2 class="self-start">SOCIAL</h2>
        <img loading="lazy" src="assets/images/FL.png" alt="Social media banner" class="object-contain mt-5 w-full max-md:max-w-full" />
    </section>

    <div class="flex flex-wrap gap-7 justify-center items-center mt-7 w-full text-white font-[275] max-md:max-w-full mb-5">

        <a href="https://www.facebook.com/profile.php?id=61561282452696" aria-label="Facebook profile" target="_blank" rel="noopener noreferrer">
        <img loading="lazy" src="assets/images/facebok.png" alt="Facebook profile picture" class="object-contain shrink-0 self-stretch my-auto w-10 aspect-square" />
        </a>
        <a href="https://www.youtube.com/@QuanbySolutions" aria-label="YouTube channel" target="_blank" rel="noopener noreferrer">
        <img loading="lazy" src="assets/images/youtube.png" alt="YouTube channel picture" class="object-contain shrink-0 self-stretch my-auto w-10 aspect-square" />
        </a>

    </div>

      <div class="flex flex-col grow shrink justify-center items-center  text-white font-[275] self-stretch py-10 my-auto shadow-sm bg-zinc-700 min-h-[140px] px-[450px] rounded-[30px_30px_0px_0px] max-md:px-5 ">
        <div class="flex flex-col max-w-full text-center">
          <p class="text-base">Copyright © 2024 QBFYI - All Rights Reserved.</p>
          <p class="self-center mt-5 text-xs text-center">Powered by Quanby Solutions, Inc.</p>
        </div>
      </div>
  </footer>