<app-header class="fixed top-0 left-0 w-full z-50"></app-header>
<div  [class.blur]="isMenuOpen" class="font-['Poppins']">
<div class="bg-[url('assets/images/bglanding.png')] bg-cover bg-no-repeat w-full h-screen pt-20 flex flex-col items-center">
  <h1 class="text-violet-950 text-4xl md:text-6xl lg:text-8xl font-bold mb-2 mt-32 max-h-40 text-center">LIGHT SPEED ACCESS</h1>
  <h4 class="text-pink-700/95 text-2xl md:text-4xl lg:text-5xl font-semibold mt-1 text-center">YOUR RELIABLE INTERNET SOLUTION</h4>

  <label class="text-black text-lg md:text-xl lg:text-2xl font-extrabold md:mt-12 lg:mt-16 mr-[300px]">Service Address</label>
   
  <div class="items-center ">
    <form action="">  
      <div class="flex flex-col items-center md:flex-row space-y-4 md:space-x-4 md:space-y-0 w-full max-w-4xl md:mt-0 mx-auto">
      <input id="service-address" type="text" placeholder="Enter your service address" class="w-full md:w-[380px] h-12 px-4 rounded-lg border border-white outline-none bg-white/50 backdrop-blur-sm">
        <a href="" class="w-full md:w-[130px] h-12 bg-violet-950 rounded-lg border border-violet-950 flex items-center justify-center text-white text-base">
          APPLY NOW
        </a>
        </div>
        <div class="text-black text-base font-extrabold inline-flex items-center mb-80 ml-32">
          <input id="location" type="button" value="VIEW AVAILABILITY & SPEED MAP" class="cursor-pointer">
          <i class='bx bx-chevron-right text-3xl ml-2'></i>
        </div>
    </form>
  </div>
</div>

  <div class="flex flex-wrap gap-10 mt-10 justify-between items-start">
    <div class="flex flex-wrap items-start min-w-[240px] max-md:max-w-full">
      <img src="assets/images/Avatar 2.png" alt="avatar" class="w-96 h-96 shadow-custom-pink relative z-40">
      <div class="flex flex-col min-w-[240px] w-[293px]">
        <div class="relative left-[-50px] flex flex-col items-start max-w-full font-semibold rounded-none text-violet-950 w-[293px] max-md:text-4xl">
          <div class="text-5xl font-black text-center text-rose-500 max-md:text-4xl mb-5">
            PLANS
          </div>
          <div class="text-4xl self-stretch max-md:text-4xl font-semibold w-60">
            EXPERIENCE INTERNET BLISS WITH QBYFI!
          </div>
        </div>
        <a href="" class=" relative left-[-50px] w-48 flex flex-col mt-3.5 max-w-full text-xl font-bold text-center text-white rounded-[100px]">
          <div class="px-1 bg-rose-500 rounded-[100px] h-12 text-xl font-bold flex items-center justify-center">
            VIEW PLANS
          </div>
        </a>
        
      </div>
    </div>
    
    <div class="relative left-[-100px] flex flex-col text-center min-w-[240px] w-[280px] ">
      <div class="flex flex-col w-full font-semibold text-black ">
        <div class="flex flex-col items-center px-10 py-12 bg-white rounded-3xl max-md:px-5  max-md:py-5 border-2 border-violet-950 shadow-[0px_4px_15px_rgba(58,25,81,1)]">
          <div class=" max-md:text-4xl text-4xl font-semibold">300</div>
          <div class=" text-4xl font-semibold top-[33px]">Mbps</div>
          <div class="z-10 text-2xl font-normal">PHP</div>
          <div class="self-stretch font-semibold text-rose-500 max-md:text-4xl text-4xl">
            1,000.00
          </div>
          <div class=" text-2xl font-normal">/ month</div>
        </div>
      </div>

      <div class="mt-5 text-3xl font-extrabold text-violet-950 top-5">
        QBYFI Velocity
      </div>
    </div>
    <div class="relative left-[-100px] flex flex-col text-center min-w-[240px] w-[280px]">
      <div class="flex flex-col w-full font-semibold text-black">
        <div class="flex flex-col items-center px-10 py-12 bg-white rounded-3xl max-md:px-5  max-md:py-5 border-2 border-violet-950 shadow-[0px_4px_15px_rgba(58,25,81,1)]">
          <div class=" max-md:text-4xl text-4xl font-semibold">500</div>
          <div class=" text-4xl font-semibold top-[33px]">Mbps</div>
          <div class="z-10 text-2xl font-normal">PHP</div>
          <div class="self-stretch font-semibold text-rose-500 max-md:text-4xl text-4xl">
            1,700.00
          </div>
          <div class=" text-2xl font-normal">/ month</div>
        </div>
      </div>

      <div class="mt-5 text-3xl font-extrabold text-violet-950 top-5">
        QBYFI Nitro
      </div>
    </div>

    <div class="flex flex-wrap justify-between items-center self-stretch w-full mt-[-100px]">
      <div class="flex-1 min-w-[300px] bg-rose-500 h-[43px]"></div>
      <div class="flex-1 min-w-[300px] bg-violet-950 h-[43px]"></div>
    </div>  
  </div>
 
    <div class="flex flex-col items-start px-16 pt-14 pb-24 bg-white max-md:px-5">
      <div class="flex flex-wrap gap-10 items-center max-md:max-w-full">
        <div class="flex flex-wrap gap-9 items-center self-stretch my-auto min-w-[240px] max-md:max-w-full">
          <article class="flex flex-col items-center self-stretch my-auto min-w-[240px] w-[250px]">
            <div class="flex flex-col max-w-full w-[250px]">
              <div class=" border-2 border-black flex flex-col justify-center items-center px-12 bg-white rounded-full aspect-square max-md:px-5">
                <img loading="lazy" src="assets/images/UPS.png" alt="UPS Package icon" class="object-contain aspect-square w-[150px]" />
              </div>
            </div>
            <h2 class="mt-5 text-3xl font-bold text-center text-rose-500">
              UPS <br><span class="text-violet-950">PACKAGE</span>
            </h2>
          </article>
          <article class="flex flex-col items-center self-stretch my-auto min-w-[240px] w-[250px]">
            <div class="flex flex-col max-w-full w-[250px]">
              <div class=" border-2 border-black flex flex-col justify-center items-center px-12 bg-white rounded-full aspect-square max-md:px-5">
                <img loading="lazy" src="assets/images/Surveillance camera.png" alt="CCTV Package icon" class="object-contain aspect-square w-[150px]" />
              </div>
            </div>
            <h2 class="mt-5 text-3xl font-bold text-center text-rose-500">
              CCTV <br><span class="text-violet-950">PACKAGE</span>
            </h2>
          </article>
          <article class="flex flex-col items-center self-stretch my-auto min-w-[240px] w-[250px]">
            <div class="flex flex-col max-w-full w-[250px]">
              <div class=" border-2 border-black flex flex-col items-center px-12 pt-9 pb-16 bg-white rounded-full aspect-square max-md:px-5 mt-[15px]">
                <img loading="lazy" src="assets/images/Modem.png" alt="Networking Package icon" class="object-contain aspect-square w-[150px]" />
              </div>
            </div>
            <h2 class="mt-5 text-3xl font-bold text-center text-rose-500">
              NETWORKING <span class="text-violet-950">PACKAGE</span>
            </h2>
          </article>
        </div>
        <aside class="flex flex-col self-stretch my-auto min-w-[240px] w-[321px]">
          <div class="flex flex-col w-full">
            <div class="flex flex-col w-full">
              <h1 class="text-6xl font-black text-center text-rose-500 max-md:text-4xl">
                ADD- <span class="text-violet-950">ONS</span>
              </h1>
              <p class="text-base text-black">
                3 Add-ons, can be APPLIED TO EITHER PLAN
              </p>
            </div>
            <button class="flex flex-col self-center mt-5 max-w-full text-2xl font-semibold text-center text-white rounded-[100px] w-[200px]">
              <span class="px-7 py-1.5 bg-violet-950 rounded-[100px] max-md:px-5">
                Learn More
              </span>
            </button>
          </div>
          <div class="flex self-center mt-9 max-w-full bg-rose-500 min-h-[15px] w-[120px]"></div>
        </aside>
      </div>
    </div>

    <div class="relative flex flex-col justify-between">
      <img loading="lazy" src="assets/images/Promo.png" alt="Promo image" class="object-contain w-full aspect-[2.54] max-md:max-w-full"/>
      
      <div class="absolute inset-0 flex flex-col justify-center items-center px-14 py-16 max-w-full bg-rose-500 bg-opacity-30  h-full w-[760px] max-md:px-5 rounded-tr-[100px] rounded-br-[100px]">
        <div class="flex flex-col justify-center p-2.5 max-w-full w-[596px]">
          <div class="flex flex-col w-full max-md:max-w-full">
            <div class="flex flex-col w-full max-md:max-w-full">
              <header class="flex flex-col w-full font-black max-md:max-w-full">
                <h1 class="text-6xl text-rose-500 max-md:max-w-full max-md:text-4xl">
                  PROMO
                </h1>
                <h2 class="flex flex-col justify-center w-full text-5xl text-white max-md:max-w-full max-md:text-4xl">
                  
                  <span class="max-md:max-w-full max-md:text-4xl">
                    Discount up to 20% for new members.
                  </span>
                </h2>
              </header>
              <p class="text-base font-medium text-white max-md:max-w-full">
                Lorem ipsum dolor sit amet. Ea galisum omnis <br />
                est provident distinctio est omnis vitae quo sint numquam ut porro ipsum? Id quia totam id natus voluptatum et provident facilis et dolores corrupti qui quia corporis 33 quas autem ea tenetur magnam?
              </p>
            </div>
            <a href="#" class="flex flex-col mt-4 max-w-full text-2xl font-semibold text-center text-white rounded-[100px] w-[200px]">
              <span class="px-11 py-1.5 bg-rose-500 rounded-[100px] max-md:px-5">
                Get Now!
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="fixed right-0 bottom-10 z-10 flex gap-2.5 items-center bg-rose-500 h-[160px] w-[23px] rounded-tl-md rounded-bl-md">
      <div class="rotate-90">
        <img src="assets/images/comment.png" alt="">
      </div>
    </div>
    
    
    

</div>