<div class="modal" *ngIf="isVisible">
  <div class="modal-content animate__animated animate__fadeInUp">
    <span class="close" (click)="onClose()">&times;</span>
    <div class="modal-body flex justify-evenly self-center items-center">
      <img src="assets/images/success-icon.gif" alt="Success Icon" class="modal-icon" *ngIf="message.includes('successful')">
      <img src="assets/images/error-icon.png" alt="Error Icon" class="modal-icon" *ngIf="message.includes('Error')">
      <p class="modal-message" [ngClass]="{'text-success': message.includes('successful'), 'text-error': message.includes('Please fill out the form correctly')}">
        {{ message }}
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="onClose()">OK</button>
    </div>
  </div>
</div>